
.programs-menu{
position:relative;
display: flex;
justify-content: space-between;
}



h1 a{
    color: #000;
}





.hero{

background: url(https://bmccprodstroac.blob.core.windows.net/uploads/2019/06/main-campus.jpg);
padding: 4em 2em;
color: white;
margin-bottom: 3em;
background-position: bottom;
}

.hero p{
background-color: rgba(0, 0, 0, 0.3);
padding: 1em;
}

.btn{
color: #fff;
background-color: #a71c1c;
text-decoration: none;
padding: 0.5em 1em;
border-radius: 10px;
display: inline-block;


}




body{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}






#top-nav{
position: absolute;
right: 0;
top: -200px;
z-index: 100;
border:solid 1px #000;
background-color: #fff;
transition: top .3s ease-in;

}





nav ul{
padding: 0;
margin: 0;
list-style-type: none;
}





.dropdown{
    background-color: dimgray;
    margin-bottom: 1em;
    width: 32%;
    position: relative;
    border-radius: 8px;

}

.dropdown ul{
background-color: aliceblue;
display: none;
width: 100%;
position: absolute;
border-radius: 8px;
}

.dropdown:hover ul{
display: block;
width: 100%;

}

.dropdown a{
text-decoration: none;
color: #fff;
width: 32%;
display: block;
padding: 5px;
}

.dropdown li a{
    display: block;
    color: black;
    width: 32%;
}

.dropdown li a:hover{
    color: #fff;
    background-color: lightgray;
    width: 100%;
    border-radius: 8px;
}


header{
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
        
}

/*Program Cards*/





.card{
    border: solid 1px #6C757D;
    border-radius: 10px;
    transition:
    box-shadow 0.5s,
    transform 0.5s;
}



.card:hover{
   box-shadow: 5px 5px 5px #6f6f6f;
   transform: scale(1.02);
}





.card-body{
    padding: 1em;
}



.card img{
    border-radius: 10px 10px 0 0 ;
    
}




.card h3{
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 0;
}

.card h2{
    font-size: 1.2em;
    margin-top: 0;
}


.Events img{
    width: 100%;
}




/* Utility Classes */





.responsive-img{
    width:100%;

}

.no-underline{
    text-decoration: none;
}


.black{
    color: #000;
}





@media(min-width:768px){
.material-symbols-outlined{
    display: none;
}

#top-nav{
display: flex;
align-items: center;
position: static;
border: none;
}

#top-nav ul{
display: flex;
}

#top-nav ul a{
    padding: 1em;
    border-bottom: none;

}

/* main grid*/
.home main{
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 300px;
    grid-gap: 2em;
}

.dropdown ul{
position: absolute;

}

.programs-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
}

.card{
    height: 100%;
}

.programs-menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}




} /* end of media query */
